<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aktiv.RtPkcs11Ecp.Natives.iOS" version="2.0.11" targetFramework="xamarinios10" />
  <package id="Microsoft.NETCore.Platforms" version="5.0.0" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="xamarinios10" />
  <package id="Pkcs11Interop" version="5.1.1" targetFramework="xamarinios10" />
  <package id="RutokenPkcs11Interop" version="5.1.1" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="xamarinios10" />
</packages>