<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aktiv.RtPkcs11Ecp.Natives.Android" version="2.0.11" targetFramework="monoandroid11.0" />
  <package id="Microsoft.NETCore.Platforms" version="5.0.0" targetFramework="monoandroid11.0" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="monoandroid11.0" />
  <package id="Pkcs11Interop" version="5.1.1" targetFramework="monoandroid11.0" />
  <package id="RutokenPkcs11Interop" version="5.1.1" targetFramework="monoandroid11.0" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="monoandroid11.0" />
</packages>